<!DOCTYPE html>
<html lang="en" class="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>ACS For Schools | Page Not Found</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <link href="/static/css/nucleo-icons.css" rel="stylesheet">
  <link href="/static/css/nucleo-svg.css" rel="stylesheet">

  <link href="/static/css/argon-dashboard-tailwind.min.css?v=1.0.0" rel="stylesheet">
  <link href="/static/css/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <script src="/static/js/perfect-scrollbar.js" type="text/javascript" async="true"></script>
  <script src="/static/js/navbar-dropdown.js" type="text/javascript" async="true"></script>
  <script src="/static/js/navbar-collapse.js" type="text/javascript" async="true"></script>

  <script src="/static/js/script.js"></script>

  <script type="text/javascript" src="https://MomentJS.com/downloads/moment.js"></script>
  <script type="text/javascript" src="/static/js/moment-timezone-with-data.js.js"></script>
  <script>
    update_timezone()
  </script>
</head>

<body
  class="m-0 font-sans text-base antialiased font-normal text-left bg-white leading-default dark:bg-slate-900 text-slate-500 dark:text-white/80">
  <main class="mt-0 transition-all duration-200 ease-in-out ps">
    <div class="pb-0 pt-0 h-full min-h-screen items-start p-0 relative overflow-hidden flex bg-cover bg-center"
      style="background-image: url('/static/img/illustrations/404.svg');">
      <div class="container">
        <div class="flex flex-wrap items-center justify-center -mx-3 mt-42 lg:mt-75">
          <div class="w-full max-w-full px-6 mx-auto text-center shrink-0 md:flex-0 md:w-7/12 lg:w-6/12">
            <h1 class="font-bold text-blue-500 text-['calc(1.625rem_+_4.5vw)'] leading-tighter xl:text-20">Error 404
            </h1>
            <h2>Erm. Page not found</h2>
            <p class="text-xl font-normal leading-relaxed">We suggest you to go to the homepage while we solve this
              issue.</p>
            <a href="/"
              class="inline-block px-5 py-2.5 mt-6 mb-2 text-sm font-bold text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer active:-translate-y-px active:hover:text-white hover:-translate-y-px hover:shadow-xs leading-normal tracking-tight-rem bg-150 bg-x-25 bg-gradient-to-tl from-zinc-800 to-zinc-700 hover:text-white">Go
              to Homepage</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/script.js"></script>
</body>

</html>