<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>ACS For Schools</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/a9e455503e.js" crossorigin="anonymous"></script>

  <link id="pagestyle" href="/static/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />

  <script src="/static/js/script.js"></script>

  <script type="text/javascript" src="https://MomentJS.com/downloads/moment.js"></script>
  <script type="text/javascript" src="/static/js/moment-timezone-with-data.js.js"></script>
  <script>
    update_timezone()
  </script>

  <link href="/static/css/toast.min.css" rel="stylesheet">
  <script src="/static/js/toast.js"></script>

  <link rel="stylesheet" href="/static/css/style.css">

  <style>
    .text-warning {
      color: #ff8100 !important;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">
  <div id="bg-primary" class="min-height-300 bg-primary position-absolute w-100 active"></div> <!-- active/disactive -->
  <aside id="sidenav-main"
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 active">
    <!-- active/disactive -->
    <!-- Logo -->
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <div class="main-logo">
        <img src="/static/img/logo.png" alt="main logo" style="max-width: 100%;">
      </div>
    </div>
    <!-- End Logo -->
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        {% if user_type == 0 %}
        <li class="nav-item">
          <a class="nav-link " href="/admin-teachers-list/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-archive-2 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Teachers list</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin-students-list/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-address-book text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Students list</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="/admin-schedule/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-users text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Classes list</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " href="/admin-schedule/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Schedule</span>
          </a>
        </li>
        {% elif user_type == 1 %}
        <li class="nav-item">
          <a class="nav-link " href="/teacher-schedule/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Schedule</span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
        </li>
        {% if is_logged_in == 0 %}
        <li class="nav-item">
          <a class="nav-link " href="/login">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Login</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link " href="/profile">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">
              Profile
              {% if user_type == 0 %}
              (Admin)
              {% elif user_type == 1 %}
              (Teacher)
              {% endif %}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </aside>
  <main id="main-content" class="main-content position-relative border-radius-lg active">
    <!-- active/disactive -->
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              {% if is_logged_in == 0 %}
              <a href="/login" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline" style="margin-left: 3px;">Login</span>
              </a>
              {% else %}
              <a href="/logout" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline" style="margin-left: 3px;">Logout</span>
              </a>
              {% endif %}
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card dashboard-stats-card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">today's users</p>
                    <h5 class="font-weight-bolder">
                      {{ website_views_count }}
                    </h5>
                    <p class="mb-0">
                      {% if website_views_persent > 500 %}
                      <span class="text-success text-sm font-weight-bolder">>500%</span>
                      {% elif website_views_persent > 0 %}
                      <span class="text-success text-sm font-weight-bolder">+{{ website_views_persent }}%</span>
                      {% elif website_views_persent > 0 %}
                      <span class="text-warning text-sm font-weight-bolder">+{{ website_views_persent }}%</span>
                      {% else %}
                      <span class="text-danger text-sm font-weight-bolder">{{ website_views_persent }}%</span>
                      {% endif %}
                      since yesterday
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="svg-icon icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <img class="coffee-icon" src="/static/img/coffee.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card dashboard-stats-card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">registered users</p>
                    <h5 class="font-weight-bolder">
                      {{ registered_users_count }}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card dashboard-stats-card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">today's entrys</p>
                    <h5 class="font-weight-bolder">
                      {{ entrys_count }}
                    </h5>
                    <p class="mb-0">
                      {% if entrys_count_persent > 500 %}
                      <span class="text-success text-sm font-weight-bolder">>500%</span>
                      {% elif entrys_count_persent > 0 %}
                      <span class="text-success text-sm font-weight-bolder">+{{ entrys_count_persent }}%</span>
                      {% elif entrys_count_persent == 0 %}
                      <span class="text-warning text-sm font-weight-bolder">{{ entrys_count_persent }}%</span>
                      {% else %}
                      <span class="text-danger text-sm font-weight-bolder">{{ entrys_count_persent }}%</span>
                      {% endif %}
                      since yesterday
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="svg-icon icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <img class="log-in-icon" src="/static/img/entry-in-card.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card dashboard-stats-card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">today's exits</p>
                    <h5 class="font-weight-bolder">
                      {{ exits_count }}
                    </h5>
                    <p class="mb-0">
                      {% if exits_count_persent > 500 %}
                      <span class="text-success text-sm font-weight-bolder">>500%</span>
                      {% elif exits_count_persent > 0 %}
                      <span class="text-success text-sm font-weight-bolder">+{{ exits_count_persent }}%</span>
                      {% elif exits_count_persent == 0 %}
                      <span class="text-warning text-sm font-weight-bolder">{{ exits_count_persent }}%</span>
                      {% else %}
                      <span class="text-danger text-sm font-weight-bolder">{{ exits_count_persent }}%</span>
                      {% endif %}
                      since yesterday
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="svg-icon icon icon-shape bg-gradient-danger shadow-primary text-center rounded-circle">
                    <img class="log-out-icon" src="/static/img/exit-in-card.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6>Entry and exit statistics</h6>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="entrys-exits__chart" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6>Website login statistics</h6>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="website-views__chart" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="fixed-plugin" id="right-nav">
    <div class="card shadow-lg" id="card">
      <div class="card-header pb-0 pt-3 ">
        <div class="float-start">
          <h5 class="mt-3 mb-0"><span id="date-in-title"></span></h5>
        </div>
        <div class="float-end mt-4 history_navbar_cross__div">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button" id="history_navbar_cross">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0 overflow-auto" id="card-body">
        <div>
          <table>
            <thead id="history-thead">
              <!-- <tr>
                <th>Time</th>
                <th></th>
                <th>UID</th>
                <th>Name</th>
                <th>Cabinet</th>
              </tr> -->
            </thead>
            <tbody id="history-tbody">
              <!-- <tr>
                <td>21:08:49</td>
                <td><img src="/static/img/arrow-right.svg" alt="entry"></td>
                <td>12 34 56 78</td>
                <td>белая карточка</td>
                <td>302</td>
              </tr>
              <tr>
                <td>21:08:49</td>
                <td><img src="/static/img/arrow-left.svg" alt="exit"></td>
                <td>23 45 67 89</td>
                <td>-</td>
                <td>-</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="pt-4">
      <div class="w-full px-6 mx-auto">
        <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
          <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none" style="width: 100%;">
            <div class="text-sm leading-normal text-center copyright text-slate-500 lg:text-left">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script>,
              made with <i class="fa fa-heart"></i> by
              <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
              for a better web.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <main id="fire-alarm" class="fire-alarm__message disactive">
    <div class="message-box">
      <div class="message-box__header">
        <img class="message-box__error-img" src="/static/img/alert-triangle.svg">
      </div>
      <div class="message-box__main">
        <h3 class="message-box__main-text__main">Сейчас работает<br>пожарная сигнализация</h3>
        <h6 class="message-box__main-text__sub">(сайт временно не доступен)</h6>
      </div>
    </div>
  </main>

  <main id="connection-error" class="connection-error__message disactive" style="display: none;">
    <div class="message-box">
      <div class="message-box__header">
        <img class="message-box__error-img" src="/static/img/alert-triangle.svg">
      </div>
      <div class="message-box__main">
        <h3 class="message-box__main-text__main">Сейчас работает<br>пожарная сигнализация</h3>
        <h6 class="message-box__main-text__sub">(сайт временно не доступен)</h6>
      </div>
    </div>
  </main>

  <!--   Core JS Files   -->
  <script src="/static/js/core/popper.min.js"></script>
  <script src="/static/js/core/bootstrap.min.js"></script>
  <script src="/static/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/static/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/static/js/plugins/chartjs.min.js"></script>
  <script src="/static/js/argon-dashboard.js"></script>

  <script src="/static/js/charts.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/script.js"></script>

  <script>
    function change_visible(visible_state) {
      bg = document.getElementById("bg-primary");
      aside = document.getElementById("sidenav-main");
      main_page = document.getElementById("main-content");
      fire_message = document.getElementById("fire-alarm");

      if (visible_state == 0 && bg.classList.contains("disactive")) {
        bg.classList.toggle('active');
        bg.classList.toggle('disactive');
        aside.classList.toggle('active');
        aside.classList.toggle('disactive');
        main_page.classList.toggle('active');
        main_page.classList.toggle('disactive');
        fire_message.classList.toggle('active');
        fire_message.classList.toggle('disactive');
      } else if (visible_state == 1 && bg.classList.contains("active")) {
        bg.classList.toggle('active');
        bg.classList.toggle('disactive');
        aside.classList.toggle('active');
        aside.classList.toggle('disactive');
        main_page.classList.toggle('active');
        main_page.classList.toggle('disactive');
        fire_message.classList.toggle('active');
        fire_message.classList.toggle('disactive');
      }
    }

    function get_fire_alarm_state(url) {
      var request = new XMLHttpRequest();
      request.open('POST', url);
      request.onload = function () {
        if (request.status == 200) {
          console.log("Fire alarm state: " + request.response);
          if (request.response == "0") {
            change_visible(0);
          } else if (request.response == "1") {
            change_visible(1);
          }
        } else {
          console.warn("Status code: " + String(request.status));
        }
      }
      request.onerror = function (error) {
        console.log(error);
      }
      request.send();
    }

    change_visible({{ fire_alarm_state }});
    setInterval(get_fire_alarm_state, 1000, window.location.origin + "/api/get_fire_alarm_state/")
    // get_fire_alarm_state(window.location.origin + "/api/get_fire_alarm_state/")


    var is_logged_in = Boolean({{ is_logged_in }});
    var is_shown = false;
    var website_views_labels = {{ website_views_labels| safe }};
    var website_views = {{ website_views| safe }};
    var entrys_exits_history = {{ entrys_exits_history| safe }};
    var entrys_exits_labels = {{ entrys_exits_labels| safe }};
    var entrys_count = {{ entrys| safe }};
    var exits_count = {{ exits| safe }};

    set_charts(website_views_labels, website_views, entrys_exits_labels, entrys_count, exits_count);


    document.getElementById("card").onclick = function () {
      if (document.getElementById("right-nav").classList.contains("show")) {
        console.log("Card");
        is_shown = true;
      }
    };

    document.getElementById("entrys-exits__chart").onclick = function () {
      if (document.getElementById("right-nav").classList.contains("show")) {
        is_shown = true;
        setTimeout(function () { document.getElementById("right-nav").classList.remove('show'); is_shown = false; body.style.overflow = ""; }, 50);
        console.log("entrys-exits__chart");
      }
    };

    document.getElementById("history_navbar_cross").onclick = function () {
      document.getElementById("right-nav").classList.remove('show');
      body.style.overflow = "";
      console.log("Close button");
    };

    document.getElementsByTagName("body")[0].onclick = function () {
      if (!is_shown) {
        document.getElementById("right-nav").classList.remove('show');
        body.style.overflow = "";
      }
    };
  </script>
</body>

</html>