<!DOCTYPE html>
<html lang="en" class="">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>ACS For Schools | Reset Account</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <link href="/static/css/nucleo-icons.css" rel="stylesheet">
  <link href="/static/css/nucleo-svg.css" rel="stylesheet">

  <script type="text/javascript" async="" src="https://snap.licdn.com/li.lms-analytics/insight.min.js"></script>
  <script type="text/javascript" async="" src="https://s.pinimg.com/ct/core.js"></script>
  <script src="https://kit.fontawesome.com/a9e455503e.js" crossorigin="anonymous"></script>

  <link href="/static/css/argon-dashboard-tailwind.min.css?v=1.0.0" rel="stylesheet">
  <link href="/static/css/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <script src="/static/js/perfect-scrollbar.js" type="text/javascript" async="true"></script>
  <script src="/static/js/navbar-dropdown.js" type="text/javascript" async="true"></script>
  <script src="/static/js/navbar-collapse.js" type="text/javascript" async="true"></script>

  <link href="/static/css/toast.min.css" rel="stylesheet">
  <script src="/static/js/toast.js"></script>

  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="g-sidenav-show bg-gray-100">
  <div class="container sticky top-0 z-110 " style="max-width: 700px;">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-0 flex-0">
        <nav
          class="absolute top-0 left-0 right-0 z-30 flex flex-wrap items-center justify-between w-full px-4 py-1 mx-6 mt-4 shadow-2xl bg-white/80 backdrop-blur-2xl backdrop-saturate-200 rounded-xl lg:flex-nowrap lg:justify-start">
          <div class="container flex flex-wrap items-center justify-between px-0 lg-max:overflow-hidden lg:flex-nowrap">
            <a class="py-2.5 text-sm mr-4 ml-4 whitespace-nowrap font-bold text-slate-700 lg:ml-0"
              href="/dashboard/">ACS For Schools</a>
            <button aria-expanded="false" nav-collapse-trigger=""
              class="px-3 py-1 ml-2 text-lg leading-none bg-transparent rounded-lg shadow-none cursor-pointer lg:hidden text-slate-700">
              <span class="inline-block w-6 h-6 mt-2 align-middle bg-none">
                <span bar1=""
                  class="block relative w-5.5 h-px rounded-px bg-slate-700 transition-all duration-200 mx-auto my-0 origin-10-10"></span>
                <span bar2=""
                  class="block relative w-5.5 h-px rounded-px bg-slate-700 transition-all duration-200 mx-auto my-0 mt-1.75"></span>
                <span bar3=""
                  class="block relative w-5.5 h-px rounded-px bg-slate-700 transition-all duration-200 mx-auto my-0 mt-1.75 origin-10-90"></span>
              </span>
            </button>
            <div
              class="items-center w-full pt-4 pb-2 transition-all ease-in-out duration-350 lg-max:max-h-0 lg-max:overflow-hidden lg-max:hidden lg-max:bg-transparent lg-max:shadow-none md-max:relative grow basis-full rounded-2xl lg:flex lg:basis-auto lg:py-0">

              <ul class="flex flex-col pl-0 mx-auto mb-0 list-none md-max:w-full lg:flex-row">
                <li
                  class="relative mx-2 group md-max:static lg:after:content-[''] lg:after:top-0 lg:hover:after:top-full lg:after:absolute lg:after:left-0 lg:after:-bottom-6 lg:after:w-full lg:after:h-full">
                  <a aria-expanded="false" nav-dropdown-trigger="pages" role="button" href="/dashboard"
                    class="flex items-center justify-between px-4 py-2 pl-2 text-sm font-normal transition-all ease-in-out cursor-pointer select-none text-slate-700 lg-max:text-slate-700 lg:px-2"
                    style="align-items: baseline;">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1" style="margin-right: 0.25rem !important;"></i>
                    Dashboard
                  </a>
                </li>
                <li
                  class="relative mx-2 md-max:static group lg:after:content-[''] lg:after:top-0 lg:hover:after:top-full lg:after:absolute lg:after:left-0 lg:after:-bottom-6 lg:after:w-full lg:after:h-full">
                  <a aria-expanded="false" nav-dropdown-trigger="authentication" role="button" href="/login"
                    class="flex items-center justify-between px-4 py-2 pl-2 text-sm font-normal transition-all ease-in-out cursor-pointer select-none text-slate-700 lg-max:text-slate-700 lg:px-2"
                    style="align-items: baseline;">
                    <i class="fas fa-key opacity-6 text-dark me-1" style="margin-right: 0.25rem !important;"></i>
                    Login
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <main class="mt-0 transition-all duration-200 ease-in-out ps">
    <div class="pb-0 pt-0 h-full min-h-screen items-start p-0 relative overflow-hidden flex bg-cover bg-center"
      style="background-image: url('/static/img/reset-basic.jpg');">
      <span
        class="absolute top-0 left-0 w-full h-full bg-center bg-cover opacity-60 bg-gradient-to-tl from-zinc-800 to-zinc-700"></span>
      <div class="container">
        <div class="flex flex-wrap justify-center -mx-3">
          <div class="w-full max-w-full px-5 mx-auto shrink-0 md:flex-0 md:w-7/12 lg:w-4/12">
            {% if not is_password_reseted %}
            <div
              class="relative z-0 flex flex-col min-w-0 mt-40 mb-6 break-words bg-white border-0 shadow-xl sm:mt-64 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 text-center pt-6 pb-1">
                <h4 class="mb-1 font-bold">Reset password</h4>
                <p class="mb-0">You will receive an e-mail in maximum 60 seconds</p>
              </div>
              <div class="flex-auto p-6 text-center">
                <form action="" method="post" onsubmit="return onSubmit();">
                  {% if (show_verif_code or show_recovery_code) %}
                  <input type="text" name="email" style="display: none;" value="{{ email }}">
                  {% endif %}
                  {% if disable_recovery_code %}
                  <input type="text" name="2fa_recovery_code" style="display: none;" value="{{ recovery_code }}">
                  {% endif %}
                  <div class="mb-4">
                    <input type="text" placeholder="Email" id="email-input" name="email" value="{{ email }}"
                      class="form-control focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
                  </div>
                  {% if disable_recovery_code %}
                  <div class="mb-4">
                    <input type="text" placeholder="Recovery Code" id="recovery_code-input" name="2fa_recovery_code"
                      maxlength="6" value="{{ recovery_code }}" disabled
                      class="recovery_code form-control focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
                  </div>
                  {% endif %}
                  <div class="mb-4">
                    {% if show_recovery_code %}
                    <input type="text" placeholder="Recovery Code" id="recovery_code-input" name="2fa_recovery_code"
                      maxlength="6" value="{{ recovery_code }}"
                      class="recovery_code form-control focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
                    {% elif show_verif_code %}
                    <input type="text" placeholder="Verification Code" id="verif_code-input" name="verif_code"
                      maxlength="6" value="{{ verif_code }}"
                      class="verif_code form-control focus:shadow-primary-outline dark:bg-slate-850 dark:placeholder:text-white/80 dark:text-white/80 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
                    {% endif %}
                  </div>
                  {% if show_verif_code %}
                  <span class="block text-xs leading-tight" style="cursor: not-allowed;" id="resent_verif_code_label"
                    onclick="resent_email_verif()">
                    Resent verification code
                  </span>
                  {% endif %}
                  <div class="text-center">
                    <button type="submit"
                      class="inline-block w-full px-16 py-3.5 mb-2 mt-6 font-bold text-center text-white align-middle transition-all border-0 rounded-lg cursor-pointer hover:-translate-y-px active:-translate-y-px hover:shadow-xs dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 bg-gradient-to-tl from-zinc-800 to-zinc-700 leading-normal text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Send</button>
                  </div>
                </form>
              </div>
            </div>
            {% else %}
            <div
              class="relative z-0 flex flex-col min-w-0 mt-40 mb-6 break-words bg-white border-0 shadow-xl sm:mt-64 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6 text-center pt-6 pb-1">
                <h4 class="mb-1 font-bold">Reset password</h4>
                <p class="mb-0">Your password has been reseted!</p>
                <p class="mb-0">A new password has been sent to your email</p>
              </div>
              <div class="flex-auto p-6 text-center">
                <span class="block text-xs leading-tight" style="cursor: not-allowed;" id="resent_password_label"
                  onclick="resent_email_password()">
                  Resent verification code
                </span>
                <button type="submit"
                  class="inline-block w-full px-16 py-3.5 mb-2 mt-6 font-bold text-center text-white align-middle transition-all border-0 rounded-lg cursor-pointer hover:-translate-y-px active:-translate-y-px hover:shadow-xs dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 bg-gradient-to-tl from-zinc-800 to-zinc-700 leading-normal text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25"
                  onclick="window.location.href = '/login'">Login</button>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; right: 0px;">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
  </main>
  <footer class="py-12">
    <div class="container">
      <div class="flex flex-wrap -mx-3">
        <div class="w-8/12 max-w-full px-3 mx-auto mt-1 text-center flex-0">
          <p class="mb-0 text-slate-400">
            Copyright ©
            <script>document.write(new Date().getFullYear())</script>
            Argon by Creative Tim.
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/static/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/static/js/script.js"></script>

  <script>
    if (Number("{{ is_last_msg }}") != 1) {
      if (Number("{{ is_invalid_mail }}") == 1) {
        wrongInput(document.getElementById("email-input"));
      } else if (Number("{{ show_recovery_code }}") == 1) {
        document.getElementById("email-input").disabled = true;
        if (Number("{{ is_invalid_recovery_code }}") == 1) {
          wrongInput(document.getElementById("recovery_code-input"));
        }
      } else if (Number("{{ show_verif_code }}") == 1) {
        document.getElementById("email-input").disabled = true;
        if (Number("{{ is_wrong_verif_code }}") == 1) {
          wrongInput(document.getElementById("verif_code-input"));
        }
      }
    }

    $('body').on('input', 'input.verif_code', function () {
      var new_value = "";
      for (let i = 0; i < this.value.length; i++) {
        if (this.value.charAt(i) in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]) {
          new_value += this.value.charAt(i);
        }
      }
      this.value = new_value;
    });

    $('body').on('input', 'input.recovery_code', function () {
      var new_value = "";
      for (let i = 0; i < this.value.length; i++) {
        if (this.value.charAt(i) in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0] || this.value.charAt(i).toUpperCase() == "R") {
          new_value += this.value.charAt(i).toUpperCase();
        }
      }
      this.value = new_value;
    });

    function onSubmit() {
      if (Number("{{ show_recovery_code }}") == 1) {
        var object = document.getElementById('recovery_code-input');
      } else {
        var object = document.getElementById('verif_code-input');
      }
      var val = object.value == '';
      if (val) {
        wrongInput(object);
      }
      return !val
    }

    function resent_email_cooldown() {
      var element1 = document.getElementById("resent_verif_code_label")
      var element2 = document.getElementById("resent_password_label")
      if (Number("{{ is_last_msg }}") == 0) {
        var mainText = element1.textContent.split(" ").filter(element => element);
      } else {
        var mainText = element2.textContent.split(" ").filter(element => element);
      }
      var text = mainText.slice(0, -1).join(" ");
      if (mainText.at(-1).indexOf("s") != -1) {
        if (Number("{{ is_last_msg }}") == 0) {
          element1.textContent = `${text} (${now_timer - 1}s)\n`;
        } else {
          element2.textContent = `${text} (${now_timer - 1}s)\n`;
        }
      } else {
        if (Number("{{ is_last_msg }}") == 0) {
          element1.textContent = `${text} ${mainText.at(-1)} (${now_timer - 1}s)\n`;
        } else {
          element2.textContent = `${text} ${mainText.at(-1)} (${now_timer - 1}s)\n`;
        }
      }
      if (now_timer - 1 == 0) {
        if (Number("{{ is_last_msg }}") == 0) {
          element1.textContent = text;
          element1.style.cursor = "pointer";
        } else {
          element2.textContent = text;
          element2.style.cursor = "pointer";
        }
        now_timer = 0;
        clearInterval(interval_index);
      } else {
        now_timer -= 1;
      }
    }

    const MAIN_TIMER = Number("{{ resent_email_cooldown }}");
    function resent_email_verif() {
      if (now_timer == 0) {
        fetch("/resendVerifCode/{{ user_id }}/", {
          method: 'POST'
        })
          .then(response => response.json())
          .then(data => {
            if (!data.is_ok) {
              onError("Error!");
            } else {
              onSuccessfull("Verification code succsessfuly resended!");
              document.getElementById("resent_verif_code_label").style.cursor = "not-allowed";
              now_timer = MAIN_TIMER;
              resent_email_cooldown();
              interval_index = setInterval(resent_email_cooldown, 1000);
            }
          })
          .catch(error => {
            console.error(error);
            onError(error);
          })
      }
    }
    function resent_email_password() {
      if (now_timer == 0) {
        fetch("/resendPassword/{{ user_id }}/", {
          method: 'POST'
        })
          .then(response => response.json())
          .then(data => {
            if (!data.is_ok) {
              onError("Error!");
            } else {
              onSuccessfull("Email with your new password succsessfuly resended!");
              document.getElementById("resent_password_label").style.cursor = "not-allowed";
              now_timer = MAIN_TIMER;
              resent_email_cooldown();
              interval_index = setInterval(resent_email_cooldown, 1000);
            }
          })
          .catch(error => {
            console.error(error);
            onError(error);
          })
      }
    }

    now_timer = MAIN_TIMER;
    var interval_index = 0;
    if (Number("{{ show_verif_code }}") == 1) {
      resent_email_cooldown();
      interval_index = setInterval(resent_email_cooldown, 1000);
    }
  </script>
</body>

</html>