<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>ACS For Schools | Schedule</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/css/nucleo-svg.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/a9e455503e.js" crossorigin="anonymous"></script>
  <link href="/static/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/static/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />

  <link href="/static/css/argon-dashboard-tailwind.min.css?v=1.0.0" rel="stylesheet">
  <link href="/static/css/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <script src="/static/js/perfect-scrollbar.js" type="text/javascript" async="true"></script>
  <script src="/static/js/fixed-plugin.js" type="text/javascript" async="true"></script>
  <script src="/static/js/sidenav.js" type="text/javascript" async="true"></script>
  <script src="/static/js/sidenav-burger.js" type="text/javascript" async="true"></script>
  <script src="/static/js/dropdown.js" type="text/javascript" async="true"></script>
  <script src="/static/js/navbar-sticky.js" type="text/javascript" async="true"></script>
  <script src="https://buttons.github.io/buttons.js" type="text/javascript" async="true"></script>
  <link href="/static/css/kanban.css" type="text/css" rel="stylesheet">

  <script src="/static/js/script.js"></script>

  <script type="text/javascript" src="https://MomentJS.com/downloads/moment.js"></script>
  <script type="text/javascript" src="/static/js/moment-timezone-with-data.js.js"></script>
  <script>
    update_timezone()
  </script>

  <link href="/static/css/toast.min.css" rel="stylesheet">
  <script src="/static/js/toast.js"></script>

  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <!-- Logo -->
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <div class="main-logo">
        <img src="/static/img/logo.png" alt="main logo" style="max-width: 100%;">
      </div>
    </div>
    <!-- End Logo -->
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/dashboard/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin-teachers-list/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-archive-2 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Teachers list</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin-students-list/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-address-book text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Students list</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin-schedule/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Schedule</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/profile/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">
              Profile (Admin)
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout/">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Schedule</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Classes list</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Classes list</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="/logout" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline" style="margin-left: 3px;">Logout</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="w-full p-4 mx-auto" style="padding-left: 0px !important; padding-right: 0 !important;">
      <div class="container-fluid py-4">
        <div class="card mb-4">
          <div class="card-header pb-0" style="display: flex; justify-content: space-between;">
            <h6>Create new class</h6>
          </div>
          <div class="card-body">
            <form action="/admin-schedule/" method="post" id="new-class-form">
              <div class="row">
                <div class="col-md-auto">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Grade</label>
                    <input name="grade" id="grade" class="form-control" type="number" min="1" max="11" step="1"
                      autocomplete="off" style="width: 100px;" required>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Class letter</label>
                    <input name="class-letter" id="class-letter" class="form-control" type="text" autocomplete="off"
                      style="width: 100px;" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <button class="btn btn-primary btn-sm ms-auto">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="box-border inline-flex min-h-screen py-2"
          style="margin-left: 1.5rem; margin-top: 20px; min-height: 55vh;">
          <div id="myKanban">
            <div class="kanban-container" style="width: {{ 360 * schedule|length }}px;">
              {% for i in schedule %}
              <div data-id="_backlog" data-order="1" class="kanban-board"
                style="width: 340px; margin-left: 10px; margin-right: 10px;">
                <header class="kanban-board-header">
                  <div class="kanban-title-board" style="display: flex; align-items: center;">
                    <span>{{ i[0] }} grade</span>
                  </div>
                </header>
                {% if i[1]|length > 0 %}
                <main>
                  <ul class="kanban-drag">
                    {% for j in i[1] %}
                    <li class="kanban-item rounded-lg" data-eid="_task_1_title_id" data-class="rounded-lg" style="cursor: pointer; display: flex;
                      align-items: center;" class-id="{{ j['class_id'] }}"
                      onclick="if (!remove_class) {location.href=`/admin-class-schedule/{{ j['class_id'] }}/`} else {remove_class = false}">
                      <span class="text mb-0" data-target="#jkanban-info-modal" data-toggle="modal">
                        {{ i[0] }} {{ j["class_letter"]}} ({{ j["students_in_class"] }} students)
                      </span>
                      <button class="btn btn-sm ms-auto" style="margin: auto 0; width: 40px; padding: 8px;"
                        onclick="remove_class_f(this)">
                        <img src="/static/img/trash.svg" alt="trash" style="scale: 0.9;">
                      </button>
                    </li>
                    {% endfor %}
                  </ul>
                </main>
                {% else %}
                <main class="kanban-drag"
                  style="display: flex; justify-content: center; align-items: center; font-size: 19px; padding-top: 0; padding-bottom: 40px;">
                  there are no lessons on this day</main>
                {% endif %}
                <footer></footer>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <footer class="pt-4">
        <div class="w-full px-6 mx-auto">
          <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
            <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none" style="width: 100%;">
              <div class="text-sm leading-normal text-center copyright text-slate-500 lg:text-left">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
          </div>
        </div>
      </footer>
  </main>
  <!--   Core JS Files   -->
  <script src="/static/js/core/popper.min.js"></script>
  <script src="/static/js/core/bootstrap.min.js"></script>
  <script src="/static/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/static/js/plugins/smooth-scrollbar.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/script.js"></script>

  <script>
    var remove_class = false;

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    function remove_class_f(element) {
      remove_class = true;
      var class_elem = element.parentElement;
      fetch(`/api/remove_class/${class_elem.getAttribute("class-id")}/`, {
        method: 'POST'
      })
        .then(response => response.json())
        .then(data => {
          if (data.is_ok) {
            class_elem.remove();
            onSuccessfull("Class sucsessufly removed!");
          } else {
            onError("Error!");
          }
        })
        .catch(error => {
          console.error(error);
          onError(error);
          return -1;
        })
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>